* {
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    .topo svg {
        top: -150px; /* Ajuste a posição vertical conforme necessário */
        width: 200%; /* Ajuste a largura conforme necessário */
        height: 800px;
        position: fixed;
    }
}
@media (max-width: 900px) {
    .topo svg {
        top: -150px; /* Ajuste a posição vertical conforme necessário */
        width: 200%; /* Ajuste a largura conforme necessário */
        height: 800px;
        position: fixed;
    }
}

@media (max-width:2500px) {
    .topo svg {
        top: -150px; /* Ajuste a posição vertical conforme necessário */        
        height: 800px;
    }
}

body{
    background-color: rgb(0, 0, 0);
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    flex-direction: column;

   
    overflow-x: hidden;

}

.topo svg {
    margin: 0;
    padding: 0;
    line-height: 0;
    display: block;
    position: absolute;
    top: -280px;
    left: 0;       /* cola no canto esquerdo */   /* ocupa toda a largura da tela */
    overflow: visible;
    z-index: -1;
}




.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
    left: 50%;
}

#titulo{
    font-family:fantasy;
    font-size: 100px;
    white-space: nowrap;
    margin-top: 50px;
    letter-spacing: 2px;
    background-size: 200% auto;
    background-image: repeating-linear-gradient(to right, rgba(74, 228, 255, 0.925), rgba(250, 250, 250, 0.925), rgb(74, 228, 255, 0.925));
    background-clip: text;
    color: transparent;

    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0);  /* espessura e cor do contorno */   
    
    animation: moverGradiante 6s linear infinite;
}

#princ{
    color: rgb(4, 234, 250);
    background-color: rgba(0, 217, 255, 0.274);
    font-family: cursive;
    border: rgb(0, 217, 255, 0.397) solid 5px;
    padding: 15px;
    border-radius: 50px;
    letter-spacing: 0px;
    margin-top: 90px;
}

main{
    margin-top: px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

/*Onde irá aperecer os erros, e como corrigilos*/
.erro{

    margin-top: px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: rgba(0, 217, 255, 0.274);
    padding: 15px;
    border-radius: 50px;
    border: rgb(0, 217, 255, 0.397) solid 5px;
    margin-bottom: 30px;

    
}


h2{
    color: rgb(4, 238, 255);
    font-family:cursive;
    letter-spacing: 1px;
    font-size: 30px;
    
}

p{
    color: rgb(252, 252, 252);
    width: 550px;
    font-family: cursive;
}

@keyframes moverGradiante{
    from{
        background-position: 0% center;
    }
    to{
        background-position: 200% center;
    }
}