* {
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    .topo svg {
        top: -150px; /* Ajuste a posição vertical conforme necessário */
        width: 200%; /* Ajuste a largura conforme necessário */
        height: 800px;
        position: fixed;
    }
}
@media (max-width: 900px) {
    .topo svg {
        top: -150px; /* Ajuste a posição vertical conforme necessário */
        width: 200%; /* Ajuste a largura conforme necessário */
        height: 800px;
        position: fixed;
    }
}

@media (max-width:2500px) {
    .topo svg {
        top: -150px; /* Ajuste a posição vertical conforme necessário */        
        height: 800px;
    }
}

body{
    background-color: rgb(0, 0, 0);
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    flex-direction: column;

   
    overflow-x: hidden;

}

main{
    flex: 1;
    width: 100%;
}
.topo svg {
    margin: 0;
    padding: 0;
    line-height: 0;
    display: block;
    position: absolute;
    top: -280px;
    left: 0;       /* cola no canto esquerdo */   /* ocupa toda a largura da tela */
    overflow: visible;
    z-index: -1;
}




.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
    left: 50%;
}

h1{
    font-family:fantasy;
    font-size: 100px;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 2px;
    background-size: 200% auto;
    background-image: repeating-linear-gradient(to right, rgb(0, 215, 253, 0.842), rgba(255, 255, 255, 0.986), rgb(0, 215, 253, 0.842));
    background-clip: text;
    color: transparent;
    
    animation: moverGradiante 6s linear infinite;
}


h2{
    color: rgba(39, 186, 212, 0.911);
    font-family: cursive;
    font-size: 25px;
    letter-spacing: 2px;
    border: solid rgba(39, 186, 212, 0.397) 2px;
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 50px;
    margin: 0;
    top: 130px;
    
}

@keyframes moverGradiante{
    from{
        background-position: 0% center;
    }
    to{
        background-position: 200% center;
    }
}

footer{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -140px;
    left: 0;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}